@import url(__item/photo-grid__item.css);

.photo-grid {
  max-width: 1184px;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  gap: 16px;
}

@media screen and (max-width: 1199px) {
  .photo-grid {
    max-width: 928px;
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
    gap: 14px;
  }
  
}

@media screen and (max-width: 943px) {
  .photo-grid {
    max-width: 720px;
    grid-template: repeat(6, 1fr) / repeat(2, 1fr);
    gap: 16px;
  }
  
}

@media screen and (max-width: 606px) {
  .photo-grid {
    margin: 0 auto;
    max-width: 288px;
    grid-template: repeat(12, 1fr) / 1fr;
    gap: 12px;
  }
  
}