.header__lang {
  justify-content: space-between;
  /* Align-self set to center (instead of flex-end like in design spec)
  because it looks a lot better and in-line this way*/
  align-self: center;
  display: flex;
  gap: 18px;
}