.cover__subtitle {
  margin: 32px 0 0;
  max-width: 320px;
  position: relative;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;  
  z-index: 1;
}