@import url(__caption/header__caption.css);
@import url(__image/header__image.css);
@import url(__lang/header__lang.css);
@import url(__lang-link/header__lang-link.css);
@import url(__subtitle/header__subtitle.css);
@import url(__title/header__title.css);

.header {
  margin: 34px 0 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
 .header {
  margin: 34px 48px 0;
 } 
}

@media screen and (max-width: 1023px) {
 .header {
  margin: 34px 24px 0;
 } 
}

@media screen and (max-width: 767px) {
 .header {
  margin: 20px 16px 0;
 } 
}