@import url(__lang/header__lang.css);
@import url(__lang-link/header__lang-link.css);
@import url(__lang-link/_active/header__lang-link_active.css);

.header {
  margin: 34px auto 0;
  max-width: 1280px;
  background-color: #2a2c2f;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
 .header {
  margin: 34px 48px 0;
  max-width: none;
 } 
}

@media screen and (max-width: 1023px) {
 .header {
  margin: 34px 24px 0;
 } 
}

@media screen and (max-width: 767px) {
 .header {
  margin: 20px 16px 0;
 } 
}