.place__text {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.63;
}

.place__text:last-of-type {
  margin: 0;
}

@media screen and (min-width: 1280px) {
  .place__text:nth-of-type(2) {
    content: "The reason we've brought you here today, if you haven't already guessed, can be summed up by using one delicious word: chocolate. Hershey's is a<br><br> Pennsylvania-based company. Most likely, one of the tastiest missions you'll ever embark on during this tour, try to find an Amish friend and enjoy a bar in the National Wildlife Refuge on your way to Erie and have an extra eerie time!"
  }
}

@media screen and (max-width: 1023px) {
  .place__text {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .place__text {
    margin: 0 16px 25px;
  }
  
  .place__text:last-of-type {
    margin: 0 16px;
  }
}