.cover__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: #2a2c2f;
  opacity: 0.8;
  transition: opacity 0.5s linear;
  min-height: 740px;
  flex-basis: 1184px;
}

.cover__overlay:hover {
  opacity: 0.3;
  cursor: pointer;
}