.cover__background {
  margin: 0 48px;
  min-height: 740px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  background-image: url(../../../images/highway_route66.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  position: relative;
  cursor: pointer;
}

.cover__background::before {
  content: "";
  opacity: 0.3;
  position: absolute;
  transition: opacity 0.5s linear;
  background-color: #2a2c2f;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cover__background:hover::before {  
  opacity: 0.8;
  content: "";
}

@media screen and (max-width: 1279px) {
  .cover__background {
    margin: 0;
    min-height: 640px;
    max-width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .cover__background {
    min-height: 480px;
  }
}

/* Looks like  at 1100px */
/*  */
/*  */

/* Looks like  at 999px */
/*  */
/*  */

/* Looks like  at 665px */
/*  */
/*  */

@media screen and (max-width: 609px) {
  .cover__background {
    min-height: 200px;
  }
}

/* Looks like  at 470px */
/*  */
/*  */