@import url(__image/place__image.css);
@import url(__paragraph/place__paragraph.css);
@import url(__row/place__row.css);
@import url(__text/place__text.css);
@import url(__title/place__title.css);
@import url(__url-label/place__url-label.css);
@import url(__url/place__url.css);
@import url(__website/place__website.css);

.place {
  margin: 0 148px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

@media screen and (max-width: 1279px) {
  .place {
    margin: 0 48px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    margin: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    margin: 0;
    gap: 30px;
  }
}